@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-display: swap;
    font-weight: 900;
    src: url('/fonts/Montserrat-Black.woff') format('woff'), url('/fonts/Montserrat-Black.ttf') format('ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-display: swap;
    font-weight: 800;
    src: url('/fonts/Montserrat-ExtraBold.woff') format('woff'), url('/fonts/Montserrat-ExtraBold.ttf') format('ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url('/fonts/Montserrat-Bold.woff') format('woff'), url('/fonts/Montserrat-Bold.ttf') format('ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: url('/fonts/Montserrat-SemiBold.woff') format('woff'), url('/fonts/Montserrat-SemiBold.ttf') format('ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url('/fonts/Montserrat-Medium.woff') format('woff'), url('/fonts/Montserrat-Medium.ttf') format('ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url('/fonts/Montserrat-Regular.woff') format('woff'), url('/fonts/Montserrat-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    src: url('/fonts/Montserrat-Light.woff') format('woff'), url('/fonts/Montserrat-Light.ttf') format('ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-display: swap;
    font-weight: 200;
    src: url('/fonts/Montserrat-Thin.woff') format('woff'), url('/fonts/Montserrat-Thin.ttf') format('ttf');
}

@font-face {
    font-family: 'TRYVesterbro';
    font-style: normal;
    font-display: swap;
    font-weight: 900;
    src: url('/fonts/TRYVesterbro-Bold.woff') format('woff'), url('/fonts/TRYVesterbro-Bold.otf') format('otf');
}

@font-face {
    font-family: 'TRYVesterbro';
    font-style: normal;
    font-display: swap;
    font-weight: 800;
    src: url('/fonts/TRYVesterbro-Extrabold.woff') format('woff'), url('/fonts/TRYVesterbro-Extrabold.otf') format('otf');
}

@font-face {
    font-family: 'TRYVesterbro';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url('/fonts/TRYVesterbro-Medium.woff') format('woff'), url('/fonts/TRYVesterbro-Medium.otf') format('otf');
}

@font-face {
    font-family: 'TRYVesterbro';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url('/fonts/TRYVesterbro-Regular.woff') format('woff'), url('/fonts/TRYVesterbro-Regular.otf') format('otf');
}

@font-face {
    font-family: 'TRYVesterbro';
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    src: url('/fonts/TRYVesterbro-Light.woff') format('woff'), url('/fonts/TRYVesterbro-Light.otf') format('otf');
}

@font-face {
    font-family: 'TRYVesterbro';
    font-style: normal;
    font-display: swap;
    font-weight: 200;
    src: url('/fonts/TRYVesterbro-Poster.woff') format('woff'), url('/fonts/TRYVesterbro-Poster.otf') format('otf');
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('/fonts/PlayfairDisplay-Italic.woff') format('woff'), url('/fonts/PlayfairDisplay-Poster.ttf') format('ttf');
    font-weight: normal;
    font-style: italic;
}