html, body {
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
}

::selection {
  background-color: #C82B38;
  color: #ffffff;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
}

.pagination ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

.pagination li {
  display: flex;
  color: #000;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  background-color: #F4F4F4;
  width: var(--chakra-sizes-16);
  height: var(--chakra-sizes-16);
  border-radius: var(--chakra-radii-full);
}

.pagination .previous div, .pagination .next div, .pagination .active {
  background-color: #175CFF;
  color: #fff;
}

.pagination .previous.disabled div, .pagination .next.disabled div {
  background-color: #F4F4F4;
  color: #000;
}

.blog-post-content h4 {
  margin: 10px 0;
  font-weight: bold;
  font-size: 21px;
}

.blog-post-content blockquote {
  background: #C82B38;
  color: white;
  margin: 1.5em 0;
  padding: 2em 3.5em;
  quotes: "\201C""\201D""\2018""\2019";
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.blog-post-content blockquote:before {
  color: rgba(255, 255, 255, 0.3);
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}

.blog-post-content blockquote p {
  display: inline;
}

.blog-post-content p {
  margin-top: 10px;
  line-height: 30px;
}

.blog-post-content p:nth-child(1) {
  margin-top: 0px;
}